.container {
  background-image: url('/building.png');
  background-size: cover;
  background-attachment: fixed;
}

.heading {
  font-size: 26px;
  color: black;
  padding-top: 10px;
  margin-left: 10px;
}

.wrapper {
  display: flex;
  width: 100vw;
  padding: 50px;
  justify-content: center;
  align-items: center;
}

.accordion {
  width: 460px;
  min-width: 100px;
}

@media only screen and (max-width: 600px) {
  .accordion {
    width: 75%;
    height: 50%;
  }
}

.item {
  background: #e6d8be;
  margin-bottom: 5px;
  padding: 10px 20px;
  border-radius: 10px;
}

.title {
  color: #85662b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.content {
  color: #756c64;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}

.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
}
