.home-container {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: white;
  min-height: 700px;
}

.home-container img {
  width: 100%;
  max-height: 800px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.about {
  min-height: 300px;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
